       #menuhorizontal        {
                            width: 1000px;
                            padding: 5px 5px 10px 10px;
                            }

        #menuhorizontal a    {
                            font-size: 20px;
                            padding :0px 10px 0px;
                            text-decoration: none;
                            color: black;
                            background: #DEA740;
                            border-radius: 5px 10px 5px 10px;
                            }

        #menuhorizontal a:hover,

        #menuhorizontal :active        {
                                    color: rgb(7, 101, 163);
                                    background: #b87511;
                                    border-bottom: 3px solid rgb(212, 129, 34);
                                    border-top: 3px solid rgb(212, 129, 34);
                                    }

        #menuhorizontal a:visited     {
                                    color: rgb(182, 11, 62);
                                    }
       #inicio        {
                                    color: rgb(255, 255, 255);
                                    }